<div class="container onboarding" style="background-image: url('<%= asset_url('profile_onboarding.png') %>');">
  <div class="logo-text">
    <p>HEY BABY</p>
  </div>
  <h2>Profile</h2>
  <%= render "form" %>
</div>
