<div class="container onboarding" style="background-image: url('<%= asset_url('profile_onboarding.png') %>');">
  <div class="logo-text">
    <p>HEY BABY</p>
    <h1>Profile</h1>
    <p style="font-weight:normal;">All about you... get started by creating your profile!</p>
  </div>
  <div class="onboarding-content">
    <%= render "form" %>
  </div>
</div>
