<div class="container onboarding" style="background-image: url('<%= asset_url('profile_onboarding.png') %>');">
  <div class="logo-text">
    <p>HEY BABY</p>
  </div>
  <div class="onboarding-content">
    <div>
      <h2>Profile</h2>
    </div>
    <%= render "form" %>
  </div>
</div>
