.tasks-container, .category-tasks {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.line {
  background-color: $dark-blue;
  position: relative;
  left: 1px;
}

// .layout-line {
//   display: flex;
//   position: relative;
//   .line {
//     width: 2px;
//     background-color: $dark-blue;
//     position: relative;
//     top: 102px;
//     left: 1px;
//   }
// }

h1.timeline {
  margin-bottom: 0;
}

.tasks-by-week {
  width: 100%;
}
