.tasks-container {
  position: relative
}

.layout-line {
  display: flex;
  position: relative;
  .line {
    width: 2px;
    background-color: $dark-blue;
    position: relative;
    top: 102px;
    left: 1px;
  }
}
