.tasks-container, .category-tasks {
  position: relative;
  display: flex;
}

.line {
  background-color: $dark-blue;
  position: relative;
  left: 1px;
}

h1.timeline {
  margin-bottom: 0;
}

.tasks-by-week, .cards {
  width: 100%;
}

.cards {
  a:focus, a:active, a:hover, a:visited {
    color: $dark-blue;
    opacity: 1;
  }
  a:active .card, a:focus .card {
    background-color: rgba(255,255,255,.5);
  }
}
