.fetus-image {
  height: 60vh;
  width: 100vw;
  background-size: cover;
  background-position: 50%;
  h4 {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
  }
}

.content {
  margin-top: -116px;
}

.pregnancy-progress {
  text-align: center;
  ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    border-radius: 30px;
    padding: 0 16px;
  }
  ul.trimester {
    background-color: $light-blue;
    color: $mid-gray;
  }
  ul.current-weeks {
    background-color: $bright-orange;
    color: $orange;;
  }
  li {
    padding: 10px 8px;
    white-space: nowrap;
  }
  .active-week {
    font-weight: 700;
    color: white;
  }
}

.container-dashboard {
  border-radius: 20px;
  background-color: $light-orange;
  box-shadow: $box-shadow;
  padding: 40px 0  100px;
  h1 {
    text-align: left;
    font-size: 34px;
    margin-bottom: 10px;
  }
}

.your-pregnancy {
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  display: grid;
}

.week, .due-date {
  text-align: center;
  background-color: $mid-orange;
  box-shadow: none;
  display: inline-block;
  h4 {
    font-size: 14px;
    margin-bottom: 16px;
    padding-right: 0;
  }
  p {
    font-family: $headers-font;
    color: $bright-orange;
    font-weight: 700;
  }
}

.week {
  p {
    font-size: 60px;
    line-height: 60px;
  }
}

.due-date {
  p:first-of-type {
    font-size: 40px;
    line-height: 40px;
  }
  p:last-of-type {
    font-family: $body-font;
    text-transform: uppercase;
  }
}

.trimester2 {
  margin-right: 6px;
  margin-left: 6px;
}
