body {
  background-color: $light-orange;
}

.container {
  margin: 0 auto;
  padding: 40px 24px;
}

.truncate {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: $dark-blue;
}

hr {
  background-color: #FFE8E7;
  opacity: 1;
  height: 2px !important;
}
