body {
  background-color: $light-orange;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 40px 24px;
}

.truncate {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
