.onboarding {
  height: 100vh;
  background-size: cover;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 3.75rem;
  }
  form {
    width: 100%;
  }
}

.onboarding-text {
  color: white;

  h1 {
    color: white;
  }
}

.signup-button {
  background-color: $bright-orange;
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 16px;
  margin: 10px 0 20px;
  text-align: center;
}

.contact-primary-button {
  background-color: $orange;
  color: $dark-red;
}

.contact-secondary-button {
  color: white;
  border-radius: 18px;
  width: 100%;
  padding: 10px 16px;
  text-align: center;
  display: inline-block;
}

.logo-text {
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.logo-text-sign {
  text-align: center;
  font-weight: 700;
  color: black;
}

.pregnancy-form {
  align-self: center;
  width: 100%;
  margin-top: auto;
}

.button-bottom {
  align-self: end;
  width: 100%;
  margin-top: auto;
}

.signup {
  h1 {
    color: $black;
  }
}
