.complete-form {
  padding: 14px 20px;
  box-shadow: $box-shadow;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  background-color: $light-orange;
  fieldset {
    margin-bottom: 0 !important;
  }
}
