<div class="complete-form">
  <%= simple_form_for [@category, @task], html: { class: "d-flex justify-content-between align-items-center"} do |f| %>
    <%= f.input :completed, class: "checkbox" %>
    <%= f.button :submit, class: "completed-button" %>
  <% end %>
</div>
