<div class="mt-1">
  <p><%= link_to("Fill in the German form", task.form_url_de, target: "blank", class: "button-secondary") %></p>
  <p><%= link_to("English form for translation", task.form_url_en, target: "blank", class: "button-secondary") %></p>
</div>
