<h5><%= hospital.name %></h5>
<p><%= hospital.address %></p>
<p><%= link_to("book an appointment", "http://#{hospital.website}", target: "blank", class: "btn btn-primary small justify-content-center") %></p>
