<div style="width: 100%; height: 400px;", class="container"
  data-controller="map"
  data-map-markers-value="<%= @all_markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
