.button{

}

.btn-to-form{
}

.completed-button {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: $bright-orange;
  border-radius: 30px;
  border: none;
  p {
    color: orange;
  }
}

.checkbox {
  color: $bright-orange;
  background-color: white;
}

input#task_completed {
  background-color: $light-blue;
  border: 1px solid $dark-blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

label.form-check-label.boolean.optional {
  padding: 4px 0;
  color: black;
  margin-left: 10px;
}
