.button-main {
  background-color: $bright-orange;
  padding: 10px 16px;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-family: $body-font;
  border: none;
}

.button-secondary {
  border: 1px solid $bright-orange;
  padding: 10px 16px;
  border-radius: 30px;
  color: $bright-orange;
  text-align: center;
  font-family: $body-font;
  background-color: none;
  text-decoration: none;
  display: block;
}

.button-secondary p:visited{
  color: $bright-orange;
}

a {
  text-decoration: none;
  color: $dark-blue;
  font-family: $body-font;
}

.button-secondary-blue {
  border: 1px solid $dark-blue;
  padding: 10px 16px;
  border-radius: 30px;
  color: $dark-blue;
  text-align: center;
  font-family: $body-font;
  background: none;
}
