.card {
  background-color: white;
  border-radius: $border-radius-10;
  padding: 20px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  border: none;
  margin-bottom: 8px;

  h4 {
    color: $black;
    padding-right: 10px;
  }

  p {
    margin-bottom: 0;
  }

  .details, .completed {
    align-items: center;
    display: flex;
  }

  .details i {
    margin-left: 14px;
    color: $blue-gray;
  }

  .completed i {
    font-size: 10px;
    background-color: $dark-blue;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
    padding: 4px;
    width: 17px;
    height: 17px;
  }

  .completed p {
    font-size: $font-size-12;
    color: $dark-blue;
    font-weight: bold;
  }
}

.card-category {
  .title {
    align-items: center;
    display: flex;
  }

  .title i {
    background-color: $light-blue;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    color: $dark-blue;
  }

  .title h4 {
    margin-bottom: 0;
    color: $black;
  }

  .not-completed {
    font-family: $headers-font;
    font-weight: $headers-font-weight;
    color: $bright-orange;
    margin-bottom: 0;
    font-size: $font-size-14;
  }
}

.card-task {
  margin-left: 14px;
  .title {
    h4 {
      margin-bottom: 6px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
      color: $mid-gray;
    }
  }
}

.card-task::before {
  content: "•";
  font-size: 35px;
  position: absolute;
  left: -23px;
}

.card-file {
  background-color: white;
  border-radius: $border-radius-10;
  box-shadow: $box-shadow;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: $border-radius-10;
    border-top-left-radius: $border-radius-10;
  }

  div {
    border-top: 1px solid $blue-gray;
  }

  p {
    padding: 16px 20px;
    margin-bottom: 0;
  }
}

.card-dashboard {
  flex-direction: column;
  height: 150px;
  align-items: flex-start;
  border-radius: 20px;
  h4 {
    font-size: 14px;
  }
  .category {
    font-family: $headers-font;
    color: $bright-orange;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
  }
  .deadline {
    color: $mid-gray;
    font-size: $font-size-12;
  }
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a {
    padding: 14px 0;
    font-weight: 700;
  }
  h5 {
    margin-bottom: 16px;
  }
  a::after {
    font-family: "Font Awesome 6 Free";
    font: var(--fa-font-solid);
    content: " \f105";
  }
}


.hospital-details{
  text-align: left;
  position: fixed;
  bottom: 0;
  background: white;
  height: 287px;
  transition: transform 0.3s ease;
  padding: 12px 30px 20px 50px;
  width: 100%;

  &.hide{
    transform: translate(0px, 250px);
  }

  .button-secondary{
    display: block;
  }

  .hospital-circle{
  color: $bright-orange;
  }
}
