.card {
  background-color: white;
  border-radius: $border-radius-10;
  padding: 20px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  border: none;
  margin-bottom: 8px;

  h4 {
    color: $black;
  }

  .details, .completed {
    align-items: center;
    display: flex;
  }

  .details i {
    margin-left: 14px;
    color: $blue-gray;
  }

  .completed i {
    font-size: 10px;
    background-color: $dark-blue;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
    padding: 4px;
    width: 17px;
    height: 17px;
  }

  .completed p {
    font-size: $font-size-12;
    color: $dark-blue;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.card-category {
  .title {
    align-items: center;
    display: flex;
  }

  .title i {
    background-color: $light-blue;
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    color: $dark-blue;
  }

  .title h4 {
    margin-bottom: 0;
  }

  .not-completed {
    font-family: $headers-font;
    font-weight: $headers-font-weight;
    color: $bright-orange;
    margin-bottom: 0;
    font-size: $font-size-14;
  }
}

.card-task {
  .title {
    h4 {
      margin-bottom: 6px;
    }
    p {
      font-size: 13px;
      margin-bottom: 0;
      color: $mid-gray;
    }
  }
}

.file-card {
  background-color: white;
  border-radius: $border-radius-10;
  box-shadow: $box-shadow;

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: $border-radius-10;
    border-top-left-radius: $border-radius-10;
  }

  div {
    border-top: 1px solid $blue-gray;
  }

  p {
    padding: 16px 20px;
    margin-bottom: 0;
  }
}
