.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bottom {
  background-color: $light-orange;
  box-shadow: $box-shadow;
  position: fixed;
  bottom: 0px;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 12px 24px;
    margin-bottom: 0;
    bottom: 0;
  }

  li {
    font-size: 9px;
    letter-spacing: .5px;
    text-align: center;
  }

  a {
    color: $black;
  }

  p {
    padding-top: 5px;
    margin-bottom: 0;
  }

  .active {
    a {
      color: $bright-orange;
    }
    svg > *{
      stroke: $bright-orange;
    }
  }
}

.navbar-top {
  background-color: $orange;
  padding: 0 20px;

  .nav-grid {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }

  .logo {
    font-size: 16px;
  }

  a {
    padding: 16px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
  }

  .first::before {
    font-family: "Font Awesome 6 Free";
    font: var(--fa-font-solid);
    content: " \f104";
    margin-right: 10px;
  }

  .center {
    grid-column: 2 / span 1;
    text-align: center;
  }
  a:last-of-type {
    text-align: right;
    grid-column: 3 / span 1;
    text-transform: none;
    font-weight: 500;
  }
}
