.scroll-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-column-gap: 10px;
  justify-content: space-between;
  width: auto;
  overflow: scroll;
  padding: 0 20px;
}

.weeks-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow: scroll;
  padding-left: 29vw;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
