.scroll-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-column-gap: 10px;
  justify-content: space-between;
  width: auto;
  overflow: scroll;
  padding: 0 20px;
}

.weeks-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow: scroll;
  padding-left: 29vw;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.padding {
  padding: 0 24px;
}

.scroll-container-first {
  margin: 0 auto;
  padding: 40px 24px 0;
}

.scroll-container-last {
  padding-bottom: 80px;
}
